@use '../util' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  background-color: var(--clr-almost-white);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

svg,
svg * {
  pointer-events: none;
}