@use '../util' as u;

h1 {
  font-size: clamp(u.rem(35), u.rem(16) + 4vw, u.rem(78));

  @include u.breakpoint(xlarge) {
    font-size: u.rem(78);
  }
}

a,
button {
  font-family: u.$font;
  font-size: u.rem(16);
  font-weight: 500;

  @include u.breakpoint(large) {
    font-size: u.rem(14);
  }
}

p {
  font-size: clamp(u.rem(16), 3vw, u.rem(18));
  line-height: clamp(u.rem(26), 3vw, u.rem(28));
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.footer__attribution {
  font-size: u.rem(14);

  * {
    font-size: inherit;
  }
}
