@use '../util' as u;

.header {
  width: min(100%, u.em(1440));
  display: flex;
  justify-content: space-between;
  padding: u.rem(24) u.rem(16);

  @include u.breakpoint(medium) {
    padding: u.rem(24) u.rem(32) u.rem(60);
  }

  @include u.breakpoint(large) {
    justify-content: flex-start;
    align-items: center;
    column-gap: clamp(u.rem(32), u.rem(32) + 3vw, u.rem(64));
    padding: u.rem(21) u.rem(40) u.rem(66);
  }

  &__logo {
    display: flex;
    width: max-content;
    height: max-content;
  }

  &__open-btn,
  &__close-btn {
    width: min-content;
    height: min-content;

    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__close-btn {
    align-self: flex-end;
    margin-block-end: u.rem(35);
  }

  &--active &__open-btn {
    display: none;
  }

  &__nav {
    width: u.rem(240);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-white);
    padding: u.rem(21) u.rem(20) u.rem(24) u.rem(24);
    z-index: 100;
    transform: translateX(100%);
    transition: transform var(--transition-slow) ease;

    .header--active & {
      transform: translateX(0);
    }

    @include u.breakpoint(medium) {
      width: u.rem(300);
      padding: u.rem(24) u.rem(32);
    }

    @include u.breakpoint(large) {
      width: 100%;
      min-height: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: u.rem(40);
      position: static;
      background-color: transparent;
      padding: 0;
      transform: translateX(0);
      transition: none;
    }
  }

  &__list,
  &__dropdown__list {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(26);
  }

  &__list {
    column-gap: u.rem(40);

    @include u.breakpoint(large) {
      flex-direction: row;
    }
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: u.rem(15);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover,
    &:focus-visible {
      color: var(--clr-almost-black);
    }
  }

  &__button {
    column-gap: u.rem(16);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover {
      color: var(--clr-almost-black);
    }

    &:hover path {
      stroke: var(--clr-almost-black);
    }

    & svg {
      transition: transform var(--transition-slow) ease;
    }

    .header__item--active & svg {
      transform: rotateZ(180deg);
    }
  }

  &__dropdown {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

    .header__item--active & {
      max-height: 100vh;
      visibility: visible;
      transition: max-height var(--transition-slow) ease-in;
    }

    @include u.breakpoint(large) {
      position: absolute;
      top: u.rem(34);
      background-color: var(--clr-white);
      box-shadow: 0 4px 25px 5px hsla(0, 0%, 0%, 0.12);
      border-radius: u.rem(8);

      &#features {
        right: 0;
      }

      &#company {
        left: 0;
      }
    }

    &__list {
      width: max-content;
      padding-block-start: u.rem(26);
      padding-inline-start: u.rem(24);

      @include u.breakpoint(large) {
        row-gap: u.rem(16);
        padding: u.rem(24);
      }
    }
  }

  &__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: u.rem(12);
    margin-block-start: u.rem(38);

    @include u.breakpoint(large) {
      flex-direction: row;
      column-gap: u.rem(34);
      margin-block-start: 0;
    }
  }

  &__login {
    padding: u.rem(6);
  }

  &__register {
    width: 100%;
    height: u.rem(42);
    justify-content: center;
    text-align: center;
    border: u.rem(2) solid var(--clr-medium-gray);
    border-radius: u.rem(12);

    &:hover {
      border-color: var(--clr-almost-black);
    }

    @include u.breakpoint(large) {
      width: u.rem(104);
    }
  }

  &__overlay {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-almost-black);
    opacity: 0.8;

    .header--active & {
      display: block;
    }

    @include u.breakpoint(large) {
      display: none !important;
    }
  }
}
