@use '../util' as u;

.header {
  width: min(100%, u.em(1440));
  display: flex;
  justify-content: space-between;
  padding: u.rem(24) u.rem(16);

  @include u.breakpoint(large) {
    padding: u.rem(21) u.rem(40);
  }

  &__logo {
    display: flex;
    width: max-content;
    height: max-content;
  }

  &__open-btn,
  &__close-btn {
    width: min-content;
    height: min-content;

    @include u.breakpoint(medium) {
      display: none;
    }
  }

  &__close-btn {
    align-self: flex-end;
    margin-block-end: u.rem(35);
  }

  &--active &__open-btn {
    display: none;
  }

  &__nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-almost-white);
    padding: u.rem(21) u.rem(20) u.rem(24) u.rem(24);
    z-index: 100;
    transform: translateX(100%);
    transition: transform var(--transition-slow) ease;

    .header--active & {
      transform: translateX(0);
    }
  }

  &__overlay {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-almost-black);
    opacity: 0.8;

    .header--active & {
      display: block;
    }
  }

  &__list,
  &__dropdown__list {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(26);
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: u.rem(15);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover,
    &:focus-visible {
      color: var(--clr-almost-black);
    }
  }

  &__button {
    column-gap: u.rem(16);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover {
      color: var(--clr-almost-black);
    }

    &:hover path {
      stroke: var(--clr-almost-black);
    }

    & svg {
      transition: transform var(--transition-slow) ease;
    }

    .header__item--active & svg {
      transform: rotateZ(180deg);
    }
  }

  &__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-slow) ease-out;

    .header__item--active & {
      max-height: none;
    }

    &__list {
      padding-block-start: u.rem(26);
      padding-inline-start: u.rem(24);
    }
  }

  &__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: u.rem(12);
    margin-block-start: u.rem(38);
  }

  &__login {
    padding: u.rem(6);
  }

  &__register {
    width: u.rem(196);
    height: u.rem(42);
    justify-content: center;
    text-align: center;
    border: u.rem(2) solid var(--clr-medium-gray);
    border-radius: u.rem(12);

    &:hover {
      border-color: var(--clr-almost-black);
    }
  }
}
