@use '../util' as *;

.header {
  width: min(100%, em(1440));
  display: flex;
  justify-content: space-between;
  padding: rem(24) rem(16);

  @include breakpoint(medium) {
    padding: rem(24) rem(32) rem(60);
  }

  @include breakpoint(large) {
    justify-content: flex-start;
    align-items: center;
    column-gap: clamp(rem(32), rem(32) + 3vw, rem(64));
    padding: rem(21) rem(40) rem(66);
  }

  @keyframes hide {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
    }
  }

  @keyframes show {
    to {
      visibility: visible;
    }
  }

  &__logo {
    display: flex;
    width: max-content;
    height: max-content;
  }

  &__open-btn,
  &__close-btn {
    width: min-content;
    height: min-content;

    @include breakpoint(large) {
      display: none;
    }
  }

  &__close-btn {
    align-self: flex-end;
    margin-block-end: rem(35);
  }

  &.active &__open-btn {
    visibility: hidden;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform var(--transition-slow) ease;

    .header.active & {
      transform: translateX(0);
    }

    @include breakpoint(large) {
      width: 100%;
      position: static;
      transform: translateX(0);
      transition: none;
    }
  }

  &__menu {
    width: rem(240);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    padding: rem(21) rem(20) rem(24) rem(24);

    .header.active & {
      animation-name: show;
    }

    @include breakpoint-down(large) {
      visibility: hidden;
      animation: hide var(--transition-slow) ease forwards;
    }

    @include breakpoint(medium) {
      width: rem(300);
      padding: rem(24) rem(32);
    }

    @include breakpoint(large) {
      width: 100%;
      min-height: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(40);
      background-color: transparent;
      padding: 0;
    }
  }

  &__list,
  &__dropdown__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(26);
  }

  &__list {
    column-gap: rem(40);

    @include breakpoint(large) {
      flex-direction: row;
    }
  }

  &__item {
    width: max-content;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    &__todo svg {
      width: rem(18);
      height: rem(20);
    }

    &__calendar svg {
      width: rem(20);
      height: rem(20);
    }

    &__reminders svg {
      width: rem(16);
      height: rem(20);
    }

    &__planning svg {
      width: rem(20);
      height: rem(20);
    }

    @include breakpoint(large) {
      & svg {
        width: initial;
        height: initial;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: rem(15);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover,
    &:focus-visible {
      color: var(--clr-almost-black);
    }
  }

  &__button {
    column-gap: rem(16);
    color: var(--clr-medium-gray);
    transition: color var(--transition-fast) ease;

    &:hover {
      color: var(--clr-almost-black);
    }

    &:hover path {
      stroke: var(--clr-almost-black);
    }

    & svg {
      transition: transform var(--transition-slow) ease;
    }

    .header__item.active & svg {
      transform: rotateZ(180deg);
    }
  }

  &__dropdown {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

    .header.active .header__item.active & {
      animation-name: show;
    }

    .header__item.active & {
      max-height: 100vh;
      visibility: visible;
      transition: max-height var(--transition-slow) ease-in;
    }

    @include breakpoint-down(large) {
      animation: hide var(--transition-slow) ease forwards;
    }

    @include breakpoint(large) {
      position: absolute;
      top: rem(34);
      background-color: var(--clr-white);
      box-shadow: 0 4px 25px 5px hsla(0, 0%, 0%, 0.12);
      border-radius: rem(8);

      &#features {
        right: 0;
      }

      &#company {
        left: 0;
      }
    }

    &__list {
      width: max-content;
      padding-block-start: rem(26);
      padding-inline-start: rem(24);

      @include breakpoint(large) {
        row-gap: rem(16);
        padding: rem(24);
      }
    }
  }

  &__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(12);
    margin-block-start: rem(38);

    @include breakpoint(large) {
      flex-direction: row;
      column-gap: rem(34);
      margin-block-start: 0;
    }
  }

  &__login {
    padding: rem(6);
  }

  &__register {
    width: 100%;
    height: rem(42);
    justify-content: center;
    text-align: center;
    border: rem(2) solid var(--clr-medium-gray);
    border-radius: rem(12);

    &:hover {
      border-color: var(--clr-almost-black);
    }

    @include breakpoint(large) {
      width: rem(104);
    }
  }

  &__overlay {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-almost-black);
    opacity: 0.8;

    .header.active & {
      display: block;
    }

    @include breakpoint(large) {
      display: none !important;
    }
  }
}
