@use '../util' as *;

.main {
  width: min(100%, em(1440));
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(50);

    @include breakpoint(medium) {
      row-gap: rem(80);
    }

    @include breakpoint(large) {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: flex-end;
      column-gap: rem(80);
      text-align: start;
      padding-inline: rem(40) rem(10);
    }

    @include breakpoint(xlarge) {
      column-gap: rem(150);
    }
  }

  &__picture {
    display: flex;
    width: min(100%, rem(480));

    img {
      width: 100%;
    }
  }

  &__intro {
    padding-inline: rem(16);

    @include breakpoint(large) {
      padding-inline: 0;
    }
  }

  &__title {
    color: var(--clr-almost-black);

    @include breakpoint(large) {
      max-width: rem(512);
    }
  }

  &__description {
    max-width: rem(428);
    color: var(--clr-medium-gray);
    padding-block: rem(24);
    margin-inline: auto;

    @include breakpoint(medium) {
      padding-block: rem(32);
    }

    @include breakpoint(large) {
      padding-block: rem(56);
      margin-inline: 0;
    }
  }

  &__link {
    width: rem(136);
    height: rem(48);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-almost-white);
    background-color: var(--clr-almost-black);
    border: rem(2) solid var(--clr-almost-black);
    border-radius: rem(12);
    transition-duration: var(--transition-fast);
    transition-timing-function: ease;
    transition-property: color, background-color;

    &:hover,
    &:focus-visible {
      color: var(--clr-almost-black);
      background-color: var(--clr-almost-white);
    }
  }

  &__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(16) rem(26);
    margin-block-start: rem(48);

    @include breakpoint(medium) {
      column-gap: rem(28);
      margin-block-start: rem(64);
    }

    @include breakpoint(large) {
      justify-content: flex-start;
      margin-block-start: rem(106);
    }

    @include breakpoint(xlarge) {
      column-gap: rem(40);
    }

    &__databiz {
      width: clamp(rem(82), 16vw, rem(114));
      height: clamp(rem(16), 16vw, rem(20));
    }

    &__audiophile {
      width: clamp(rem(54), 10vw, rem(73));
      height: clamp(rem(28), 10vw, rem(36));
    }

    &__meet {
      width: clamp(rem(65), 12vw, rem(90));
      height: clamp(rem(16), 12vw, rem(20));
    }

    &__maker {
      width: clamp(rem(59), 12vw, rem(83));
      height: clamp(rem(18), 12vw, rem(24));
    }
  }
}
